<div class="info" *ngIf="formGroup && profile" [formGroup]="formGroup">
    <h2>Настройки аккаунта</h2>
    <div class="settings-box login-box no-padding">
        <app-image-template [name]="this.image"></app-image-template>
        <div class="image-active">
            <h3>Изображение профиля</h3>
            <button
            mat-button
            class="mat-button"
            id="loadImage"
            color="custom"
            (click)="imageInput.click()"
        >
        Обновить изображение профиля
        </button>
        <input
            type="file"
            accept="image/*"
            hidden
            #imageInput
            (change)="onLoadImage($event)"
        />
        </div>
    </div>
    <div class="settings-box login-box tag-box">
        <div class="info-block">
            <h3>Теги пользователя</h3>
        </div>
        <app-tag-select></app-tag-select>
    </div>
    <div class="settings-box login-box first-box">
        <div class="info-block">
            <h3>Имя пользователя</h3>
        </div>
        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Login</mat-label>
            <input
              matInput
              type="text"
              placeholder="Login"
              formControlName="login"
            />
            <mat-error *ngIf="formGroup.controls['login'].hasError('required')">
              Login is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="formGroup.controls['login'].hasError('login')">
                This login is already in use by another account
              </mat-error>
              <mat-error *ngIf="formGroup.controls['login'].hasError('maxlength')">
                Login must be less than 16 characters
              </mat-error>
          </mat-form-field>
    </div>
    <div class="settings-box login-box">
        <div class="info-block">
            <h3>Пароль пользователя</h3>
        </div>
        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="text"
              placeholder="Password"
              formControlName="password"
            />
            <mat-error *ngIf="formGroup.controls['password'].hasError('minlength')">
                Password must be more than 5 characters
              </mat-error>
          </mat-form-field>
    </div>
    <div class="settings-box login-box box-active">
        <button
            mat-button
            class="mat-button"
            color="custom"
            id="save"
            [disabled]="formGroup.invalid || !this.formGroup.dirty"
            (click)="updateUser()"
        >   
        Сохранить изменения</button>
    </div>
</div>