h2{
    margin-top: 0;
    color: white;
    margin-left: 30px;
}

h3{
    color: white;
    margin: 0;
}

mat-form-field, mat-label, .mat-primary input{
    color: white;
}
  
.mat-primary input::placeholder {
    color: rgba(255, 255, 255, 0.425);
}

.mat-input{
    flex: 1;
    max-width: 700px;
    min-width: 100px;
    margin-right: 10px;
}

.info-block{ 
    width: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.image-active{
    padding: 0 0 20px 0;
}

:host ::ng-deep img{
    width: 100px;
    height: 100px;
    margin: 5px 10px;
}

.settings-box{
    display: flex;
    align-items: center;
    background-color: #18181b;
    border: 1px solid #ffffff3b;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    max-width: 90%;
    min-width: 200px;
    width: 90%;
}

.settings{
    display: flex;
}

.info{
    flex-grow: 1;
}

.login-box{
    padding: 16px 0 0 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.first-box{
    margin-top: 20px;   
}

.box-active{
    flex-direction: row-reverse;
    padding: 10px 0 10px 0;
    align-items: center;
}

#save{
    margin-right: 10px;
}

.mat-button.mat-custom {
    color: #ffffff;
    background-color: #555555;
}
  
.mat-button.mat-custom:hover {
    background-color: #414141;
}
  
.mat-button.mat-custom:disabled {
    background-color: #a3a3a3;
}

.mat-button.mat-custom:active {
    background-color: #353535;
}

::ng-deep .mat-form-field-appearance-outline .mdc-text-field--outlined{
    background-color: #7a7a7a34;
    border-radius: 5px;
}

.no-padding{
    padding: 0;
}

.tag-box{
    padding-top: 10px;
}