.actions{
  margin-top: 10px;
  display: flex;
  justify-content: right;
}

.form{
  background-color: rgb(76, 76, 76);
  padding: 20px;
  max-width: 300px;
}

.title, .but, h3{
  color: white;
  padding: 0;
  margin: 0;
}

.title{
  margin-left: 10px;
  margin-right: 10px;
}
