<div class="wrapper">
    <mat-toolbar class="toolbar">
      <a routerLink="/">
        <h2>Streaming</h2>
      </a>
      <div class="wrapper-center">
        <app-search-input></app-search-input>
      </div>
      <div class="wrapper-actions">
        <div class="wrapper-user" *ngIf="profile">
            <a [routerLink]="profile.login">
                <h3>{{ profile.login }}</h3>
                <app-image-template [name]="image"></app-image-template>
            </a>
        </div>
    
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            class="example-icon person-icon wrapper-button"
            aria-label="Example icon-button with heart icon"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="customize">
            <a *ngIf="profile" [routerLink]="profile.login">
                <button mat-menu-item>My account</button>
            </a>
            <a routerLink="/user-settings">
                <button mat-menu-item>Account settings</button>
            </a>
            <button mat-menu-item (click)="logout()">
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
    </mat-toolbar>
  
    <div class="bodyForContent">
        <div class="wrapper-menu"> 
            <h2>Отслеживаемые каналы</h2>
            <hr/>
            <ng-container *ngFor="let user of list">
                <app-user-preview *ngIf="user" [user]="user"></app-user-preview>
            </ng-container>
        </div>
        <div class="wrapper-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
  