  .wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .toolbar{
    background-color: #242427;
    border-bottom: 1px solid #ffffff3b;
  }

  a, .wrapper-user{
    display: flex;
    align-items: center;

  }

  .wrapper-actions{
    display: flex;
    margin-left: auto;
  }
  
  .wrapper-user {
    display: flex;
    justify-content: center;
  }

  h3, h2{
    margin: 0;
  }
  
  a, h3 {
    text-decoration: none;
    color: white;
  }
  
  body {
    width: 100%;
    height: 100%;
    background: #d9d9d9;
  }
  
  .wrapper-button {
    border: 0;
    background: transparent;
    color: #fff;
  }
  
  .bodyForContent {
    display: flex;
    background: #d9d9d9;
    flex: 1 0 auto;
    margin: 0;
  }

  .wrapper-menu{
    background-color: #313135;
    width: 250px;
    height: 100%;
    border-right: 1px solid #ffffff3b;
  }

  .wrapper-content{
    width: 100%;
  }
  