h3{
    margin: 0;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    word-break: break-all;
    word-break: break-word;
}

.icon{
    font-size: 16px;
    color: white;
    margin: 0;
    margin-top: 2px;
    margin-bottom: auto;
}

.but{
    border: none;
    border-radius: 16px;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    font-size: 12px;
    background-color: rgba(240, 248, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.but:hover {
    background-color: rgba(86, 86, 86, 0.29);
}

.but:active{
    background-color: rgba(0, 0, 0, 0.181);
}

span{
    color: rgb(132, 0, 255);
}

.message{
    display: flex;
    position: relative;
}

.data{
    flex:1;
}

.action{
    position: absolute;
    right: 0;
    margin-top: 0;
}

.icon-but{
    position: relative;
    margin-right: 0;
    margin-left: auto;
    width: 20px;
    height: 20px;
}