<div class="add-area">
    <div class="search-area">
        <div class="search-input">
            <div #menuB  [matMenuTriggerFor]="menu"></div>
            <input [(ngModel)]="searchValue" type="text" placeholder="Search" (keydown.enter)="search()" (input)="closeMenu()">
            <button [disabled]="searchValue ==''" mat-icon-button class="search-but" (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <mat-error *ngIf="errorMessage" class="error">
            {{errorMessage}}
        </mat-error>
    </div>
    <mat-menu class="search-menu" #menu="matMenu" class="customize" >
        <div class="menu-cont">
            <ng-container *ngIf="this.searchList.length == 0">
                <h3>Результат не найден</h3>
            </ng-container>
            <ng-container *ngIf="this.searchList.length != 0">
                <ng-container *ngFor="let user of searchList">
                    <button mat-menu-item (click)="select(user)">
                        {{user.login}}
                    </button>
                </ng-container>
            </ng-container>
        </div>
    </mat-menu>
    <button
        mat-button
        class="mat-button"
        color="custom"
        id="save"
        [disabled]="!newModer"
        (click)="addModer()"
    >   
    Добавить модератора</button>
    <button
        mat-button
        class="mat-button"
        color="custom"
        (click)="clean()"
    >   
    Очистить</button>
</div>