.stream-container{
    width: 100%;
    height: 100%;
    background-color: #0e0e10;
    display: flex;
}

.stream-content{
    flex-grow: 2;
    margin: 0;
    height: 100%;
}

.chat-container{
    margin: 0;
    width: 20%;
    max-width: 390px;
    min-width: 330px;
    flex-grow: 0;
    background-color: #313135;
    border-left: 1px solid #ffffff3b;
}

.info-text{
    margin-left: 10px;
}

.stream-info{
    display: flex;
    width: 100%;
}

h2, h3, h4{
    margin: 0;
    color: white;
}

h4{
    color: rgb(141, 2, 255)
}

.stream-link{
    display: flex;
}

a {
    text-decoration: none;
   
}

:host ::ng-deep img{
    width: 90px;
    height: 90px;
    margin-left: 10px;
}

.stream-actions{
    flex-grow: 1;
}

.stream-actions button{
    float: right;
    width: 14%;
    height: 24px;
    border: none;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    min-width: 110px;
}

.unsub{
    background-color: rgb(107, 16, 168);
}

.unsub:hover{
    background-color: rgb(82, 13, 128);
}

.unsub:active{
    background-color: rgb(126, 20, 197);
}

.sub{
    background-color: rgb(179, 179, 179);
}

.sub:hover{
    background-color: rgb(129, 129, 129);
}

.sub:active{
    background-color: rgb(211, 211, 211);
}