<div class="stream-container">
    <div class="stream-content">
        <app-stream-player [streamKey]="streamKey"></app-stream-player>
        <div class="user-info" *ngIf="stream">
            <img [src]="avatar"/>
            <div class="info-text">
            <h2>{{stream.user.login}}</h2> 
            <h3>{{stream.stream_title}}</h3>
            <h4>{{stream.category}}</h4>
            </div>
        </div>
    </div>
    <div class="chat-container">
        <app-chat [obsId]="chatId"></app-chat>
    </div>
</div>
