<div class="stream-container">
    <div class="stream-content">
        <app-stream-player [name]="streamName" [video]="videoUrl"></app-stream-player>
        <div class="stream-info" *ngIf="stream">
            <a class="stream-link" routerLink="../">
                <app-image-template [name]="this.image"></app-image-template>
                <div class="info-text">
                    <h2>{{stream.user.login}}</h2> 
                    <h3>{{stream.stream_title}}</h3>
                    <h4>{{stream.category?.name}}</h4>
                </div>
            </a>
            <div class="stream-actions">
                <app-following-button [user]="user"></app-following-button>
                <div *ngIf="!videoName" class="viewer_count">
                    <h3>Viewers: {{viewer_count}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-container">
        <app-chat [obsId]="chatId"></app-chat>
    </div>
</div>
