.tag{
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
    color: white;
    padding: 1px 3px;
    margin: 1px;
}

.close {
    top: 0;
    right: 0;
    min-width: unset!important;
    width: 10px !important;
    height: 22px !important;
    min-height: unset !important;
    font-size: 12px;
    line-height: 14px;
    margin-left: 2px;
    color: white;

    .mat-mdc-button-touch-target {
        width: 10px !important;
        height: 22px !important;
     }
}